.mapouter {
  position: relative;
  text-align: right;
  height: auto;
  width: 19rem;
}

.gmap_canvas {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132%;
}

.hide {
  color: transparent !important;
}

body {
  background-color: #2d4573;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: white;
}

.h2 {
  margin-top: 1rem;
  color: white;
  padding-left: 1rem;
  font-size: 19px;
  text-align: center;
}

.ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ul li {
  padding: 2rem;
  color: white;
  font-size: 20px;
  background-color: #5687e2;
  width: 10rem;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 560px) {
  .ul li:hover {
    box-shadow: 5px 10px  black;
    width: 11rem;
    height: 11rem;
    z-index: 3;
  }
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.p {
  text-align: center;
  color: white;
}
